
#campaign-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  text-align: center; 
}

#campaign-show-nav-spacer1 {
  height: 48px;
  width: 100%;
}

#chat-box-container {
  width: 100%; 
  height: 1100px; 
  background: gray;
  display: inline-block;
}

