.character-page{
  display: flex;
  justify-content: center;
  background-color: #1D0000;
  color: #bf7f01;
  background-image: url(https://i.imgur.com/aBKrTWU.gif);
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(https://i.imgur.com/aBKrTWU.gif);
  background-size: cover;
}
.container-margin{
    width: 80%;
    max-width: 900px;
    background-color: black;
    padding-top: inherit;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
.character-sheet-main input{
  background-color: #480202;
  margin-bottom: 10px;
  // width: 200px;
  width: 99.9%;
  
}
.character-sheet-main label{
  min-width: 50px;
  margin-bottom: 3px;
}
.character-sheet-main textarea{
  background-color: #480202;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 100px;
  color: #d7cec7;
}

.character-info{
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin-top: 40px;
}

.character-powers-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  h1{
    width: 100%;
  }
}
.power{
  display: flex;
  flex-direction:column;
  font-size: 20px;
  width: 23.75%;
  height: 24%;
  // margin: 1%;
  margin-top: 10px;
  textarea{
    margin: 5px 0px;
  }
  input{
    margin: 0px;
  }

}

.power-div{
  display: flex;
}

.special-power-wrapper{
  display: flex;
  justify-content: center;
  width: 99%;
}
.special-power{
  width: 99%;
  textarea{
    width: 99.5%;
  }
  input{
    margin-top: 5px;
    margin-bottom: 0px;
  }
  textarea{
    margin-top: 5px;
  }
}

.notes-textarea{
  width: 100%;
}

.character-inventory{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  h1{
    width: 100%;
  }
  textarea{
    margin: 5px 0px;
  }
  input{
    margin: 0px;
  }
}

.inventory-slot{
  display: flex;
  flex-direction:column;
  font-size: 20px;
  width: 24%;
  height: 24%;
  // after you convert titles to placeholders...
  margin-top: 20px;
}

.character-page h1{
  font-size: 35px;
  margin-bottom: 9px;
  border-bottom: #bf7f01;
  border-style: double;
}

.character-page .character-inventory h1{
  margin-bottom: 10px;
  margin-top: 10px;
  // transform: translate(0px, 16px);
}

.character-page h3{
  transform: translate(-20px, 1px);
    position: absolute;
}

.name-and-avatar{
  display: flex;
  height: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  border-style: double;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 3px;
  padding-bottom: 6px;
}

.character-name{
  display: flex;
  // align-items: center;
  // width: 100%;
  width: fit-content;
  // justify-content: flex-end;
  // transform: translate(0px, 10px);
  
}

.character-name div{
  font-size: 50px;
  color: #bf7f01;
  width: fit-content;
  // margin-left: 30px;
}

.pic-bio{
  display: flex;
  height: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  border-style: double;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 3px;
  padding-bottom: 6px;
  
}

.pic-container{
  width: 250px;
  display: flex;
  justify-content: center;
  margin-right: 58px;
}

.pic-container img{
  width: 100%;
}

.bio-container{
  padding-top: 30px;
  display: flex;
  width: fit-content;
  width: 85%;
  height: 170px;
  display: block;
  h1{
    font-size: 25px;
    position: absolute;
    transform: translate(0px, -32px);
    width: 635px;  
  }
}

.pic-div{
  display: flex;
  justify-content: center;
}

#bio{
  width: 99.5%;
  height: 90%;
  margin-top: 7px;
  
}

.buttons-wrapper{
  display: flex;
  justify-content: center;
  align-items: cener;
}

.character-save{
  font-size: 12px;
  border: .5px solid rgb(181, 3, 3);
  border-radius: 100px;
  background:rgb(181, 3, 3);
  color: white;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin: 10px;
  i{
    font-size: 2.5em;
  }
  span{
    display: none;
  }
}

.character-save:hover{
  border: .5px solid white;
  background:rgba(43, 41, 41, 0.75);
  i{
    display: none;
  }
  span{
    display: inline;
    cursor: pointer;
  }
}

.character-cancel{
  font-size: 12px;
  border: .5px solid white;
  border-radius: 100px;
  background:transparent;
  color: white;
  text-decoration: none;
  width: 55px;
  height: 55px;
  margin: 10px;
  i{
    font-size: 2.5em;
  }
  span{
    display: none;
  }    
}
.character-cancel:hover{
  border: .5px solid white;
  background:rgba(13, 13, 13, .75);
  i{
    display: none;
  }
  span{
    display: inline;
    cursor: pointer;
  }
}