@import './reset.scss';
@import './splash.scss';
@import './nav.scss';
@import './session-form.scss';
@import './landing.scss';
@import './campaign.scss';
@import "./global.scss";
@import "./campaign_form.scss";

//Update URL if font changes
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    // background-color: rgba(27, 30, 38, 1);
    background-color: #1d0000;
    font-family: 'Roboto', sans-serif;
    color: white;
}