@import './reset.scss';
@import './splash.scss';
@import './nav.scss';
@import './session-form.scss';
@import './landing.scss';
@import './campaign.scss';
@import "./global.scss";
@import "./campaign_form.scss";
@import "./character_sheet.scss";
@import "./campaign_index_item_modal.scss";
@import "./campaign_show.scss";

//Update URL if font changes
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto&display=swap");

body{
    background-color: rgb(13, 13, 13);
    // background-color: #1d0000;
    font-family: 'Roboto', sans-serif;
    color: white;
}