#campaign-message-index {
  max-height: calc(100vh - 330px);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}


.message-item {
  // height: 100%;
  // min-height: 50px;
  width: 90%;
  margin: 12px 0;
}
.message-character-name {
  font-size: 18px;
  font-weight: bold;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.message-date-time {
  font-size: 14px;
  width: 100%;
}

.message-body {
  border-radius: 8px;
  background: white;
}
.message-body-text {
  // font-family: 'Tinos', serif;
  font-size: 16px;
  color: black;
  text-align: left;
  line-height: 1.25;
  padding: 14px 8px;

}


.message-say .message-body {
  background: rgb(133, 49, 49);
}
.message-describe .message-body {
  background: #40464b;
  color: white;
}