/*
Error: Invalid CSS after "  cursor: pointer": expected "{", was ";"
        on line 208 of frontend/src/assets/styles/session-form.scss
        from line 4 of frontend/src/assets/styles/input.scss

203:   background-color: #2D2F30;
204:   color: white;
205:   min-height: 2.9em;
206:   font-size: 20px;
207: <<<<<<< HEAD
208:   cursor: pointer;
209: =======
210: >>>>>>> campaign_landing2
211: }
212: 
213: hr{

Backtrace:
frontend/src/assets/styles/session-form.scss:208
frontend/src/assets/styles/input.scss:4
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:321:in `to_tree'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/szczepan/.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/szczepan/.rbenv/versions/2.6.2/bin/sass:23:in `load'
/home/szczepan/.rbenv/versions/2.6.2/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  cursor: pointer\": expected \"{\", was \";\"\A         on line 208 of frontend/src/assets/styles/session-form.scss\A         from line 4 of frontend/src/assets/styles/input.scss\A \A 203:   background-color: #2D2F30;\A 204:   color: white;\A 205:   min-height: 2.9em;\A 206:   font-size: 20px;\A 207: <<<<<<< HEAD\A 208:   cursor: pointer;\A 209: =======\A 210: >>>>>>> campaign_landing2\A 211: }\A 212: \A 213: hr{"; }
