/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.splash-wrapper {
  z-index: 1; }

.hero-background {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 810px;
  min-height: 450px;
  z-index: -1; }

.hero-top {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-left {
  padding: 20px; }
  .hero-left h1 {
    font-size: 32px;
    font-family: 'Luckiest Guy', cursive; }
  .hero-left p {
    font-size: 16px; }

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px; }
  .hero-bottom #signup-btn {
    font-size: 12px;
    border: 0.5px solid #b50303;
    background: #b50303;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 10px;
    width: 100px;
    height: 25px;
    margin: 5px;
    text-align: center;
    line-height: 25px; }
  .hero-bottom #browse-btn {
    font-size: 12px;
    border: .5px solid white;
    background: transparent;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 10px;
    width: 100px;
    height: 25px;
    margin: 5px;
    text-align: center;
    line-height: 25px; }

.splash-main {
  width: 100vw;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .splash-main h2 {
    font-size: 28px;
    font-family: 'Luckiest Guy', cursive; }
  .splash-main p {
    font-size: 16px; }

.splash-primary {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%; }
  .splash-primary img {
    margin: 2%; }
  .splash-primary div {
    margin: 2%; }

.secondary-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%; }

.splash-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%; }
  .splash-secondary img {
    margin: 2%; }
  .splash-secondary div {
    margin: 2%; }

#join-btn {
  font-size: 16px;
  border: 0.5px solid #b50303;
  background: #b50303;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
  margin: 5%;
  padding: 1.5% 5%; }

#join-btn:hover {
  border: 0.5px solid #120000;
  background: #120000; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px; }

.hero-die {
  width: 150px; }

.bobbing {
  animation-name: bobbing;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.spin {
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite; }

@keyframes bobbing {
  from {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, 15px); }
  to {
    transform: translate(0, 0px); } }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 15px; }

.nav-right a {
  font-family: 'Luckiest Guy', cursive;
  color: white;
  text-decoration: none; }
  .nav-right a span {
    padding: 10px; }

.nav-left a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 5px 10px; }
.nav-left .btn {
  font-size: 12px;
  border: 0.5px solid #b50303;
  background: #b50303;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px; }

.null-div {
  display: none; }

#session-main {
  background-color: black; }

#session-nav {
  background: linear-gradient(to left, #84807d, #1b1e26);
  display: flex;
  height: 41px;
  justify-content: center; }

#session-nav div.container {
  display: flex;
  flex-direction: row;
  width: 700px;
  align-items: center;
  color: white;
  width: 1111px;
  transform: translate(16px, 0px);
  margin-left: auto;
  margin-right: auto; }

#session-nav div.back {
  cursor: pointer;
  opacity: 0.6;
  padding-right: 10px;
  display: flex;
  align-items: center; }

#session-nav a {
  color: white; }

#session-page {
  display: flex;
  justify-content: center;
  background-image: url(https://i.imgur.com/aBKrTWU.gif);
  height: 100vw;
  background-size: contain;
  background-repeat: no-repeat; }

#gradient {
  background: linear-gradient(rgba(255, 255, 255, 0), transparent, #1d0000 47vh);
  width: 100%;
  display: flex;
  justify-content: center; }

.session-form-container {
  width: 1111px;
  display: flex;
  flex-direction: column; }

#session-page div.input {
  width: 100%;
  display: inline-flex;
  margin-top: 35px;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.3);
  height: 55px; }

#session-page div.input-title {
  font-size: 20px;
  color: #707070;
  width: 50px;
  align-self: center;
  padding: 0.7em 0.3em;
  overflow: initial;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* text-align: center; */ }

#session-page div.input-field {
  display: flex;
  flex: 1;
  background-color: #3b4045;
  padding: 0.3em;
  /* overflow: hidden; */
  /* position: relative; */
  width: 100%; }

#session-page div.input-field input {
  width: 100%;
  padding: 0 10px;
  font-size: 20px;
  background-color: #fee8e8; }

.title-container {
  background-color: #2D2F30;
  display: flex;
  justify-content: center; }

div.bar {
  height: 28px;
  width: 0px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  transform: translate(1px, 13px); }

.form-contents {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.slider {
  margin-right: 3px;
  font-size: 0.8em;
  vertical-align: text-bottom;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px; }

.slider input {
  display: none; }

.slider-round {
  border-radius: 30px;
  background-color: #D7CEC7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.slider input:checked + .slider-round {
  background-color: #D9B310; }

.slider-round:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 13px;
  left: 3px;
  bottom: 2px;
  background-color: #1b1e26;
  transition: 0.4s;
  border-radius: 50%; }

.slider input:checked + .slider-round:before {
  transform: translateX(calc(100% - 3px)); }

.remember {
  margin-top: 45px; }

.fit-to-width {
  margin-top: 20px;
  display: flex;
  flex-direction: column; }

.session-submit {
  background-color: #2D2F30;
  color: white;
  min-height: 2.9em;
  font-size: 20px; }

hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top-color: #707070; }

.link-to-signup-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row; }

.link-to-signup-container a {
  text-decoration: none;
  color: #e84242;
  cursor: pointer;
  transition: all 0.25s;
  font-size: 20px; }

.link-to-signup-container a:hover {
  color: #d9b310;
  font-size: 22px; }

body {
  background-color: #0d0d0d;
  font-family: 'Roboto', sans-serif;
  color: white; }

/*# sourceMappingURL=output.css.map */
