.profile-page{
  display: flex;
  justify-content: center;
  background-color: #1D0000;
  color: #bf7f01;
  background-image: url(https://i.imgur.com/aBKrTWU.gif);
  // background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(https://i.imgur.com/aBKrTWU.gif);
  background: linear-gradient(rgba(29, 0, 0, .1), rgba(29, 0, 0, 1)), url(https://i.imgur.com/aBKrTWU.gif);
  background-size: cover;
  height: 100vw;
}
.profile-container-margin{
    width: 80%;
    max-width: 1200px;
    // background-color: black;
    padding-top: inherit;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

}
.profile-main input{
  background-color: #480202;
  margin-bottom: 10px;
  // width: 200px;
  width: 99.9%;
  
}
.profile-main label{
  min-width: 50px;
  margin-bottom: 3px;
}
.profile-main textarea{
  background-color: #480202;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 100px;
  color: #d7cec7;
}

.profile-info{
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin-top: 40px;
}

.invisible{
  display: none
}

.profile-notes-textarea textarea{
  width: 100%;
  height: 200px;

  
  width: 100%;
  border-radius: 30px;
  height: 200px;
  background: rgb(44, 0, 0);
  border-color: black;
  border-width: 4px;
  margin-top: 20px;
  
}

div.bio-display{
  width: 100%;
  height: 200px;
  height: fit-content;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-width: 12px;
  border-color: #4606065c;
  margin-top: 20px;
  background-color: black;
  background-color: #00000036;
  min-height: 100px;
  border-radius: 20px;
  min-height: 100px;
  
}

.profile-page h1{
  font-size: 35px;
  margin-bottom: 9px;
  border-bottom: #bf7f01;
  border-style: double;
}


.profile-page h3{
  transform: translate(-20px, 1px);
    position: absolute;
}

.profile-name-and-avatar{
  display: flex;
  height: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  border-style: double;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 3px;
  padding-bottom: 6px;
}

.profile-name{
  display: flex;
  // align-items: center;
  // width: 100%;
  width: fit-content;
  // justify-content: flex-end;
  // transform: translate(0px, 10px);

  
}

.profile-name div{
  font-size: 50px;
  color: #bf7f01;
  width: fit-content;
  // margin-left: 30px;
}

.profile-pic-bio{
  display: flex;
  height: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  
  
}

.profile-pic-container{
  width: 250px;
  display: flex;
  justify-content: center;
  margin-right: 58px;
}

.profile-pic-container img{
  width: 100%;
}

.profile-bio-container{
  padding-top: 30px;
  display: flex;
  width: fit-content;
  width: 85%;
  height: 170px;
  display: block;
  h1{
    font-size: 25px;
    position: absolute;
    transform: translate(0px, -32px);
    width: 635px;  
  }
}

.profile-pic-div{
  display: flex;
  justify-content: center;
}

// #bio{
//   width: 99.5%;
//   height: 90%;
//   margin-top: 7px;
  
// }

.profile-buttons-wrapper{
  display: flex;
  justify-content: center;
  align-items: cener;
}

.profile-save{
  font-size: 12px;
  border: .5px solid rgb(181, 3, 3);
  border-radius: 7px;
  background:rgb(181, 3, 3);
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  width: 100px;
  height: 25px;
  margin: 5px;
  vertical-align: center;
}

.profile-save:hover{
  border: .5px solid white;
  background:rgba(13, 13, 13, .75);
}

.profile-cancel{
  font-size: 12px;
  border: .5px solid white;
  border-radius: 7px;
  background:transparent;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  width: 100px;
  height: 25px;
  margin: 5px;    
}
.profile-cancel:hover{
  border: .5px solid white;
  background:rgba(13, 13, 13, .75);
}
