#session-main{
  background-color: black;
}

#session-nav{
  background: linear-gradient(to left, #84807d, #1b1e26);
  display: flex;
  height: 41px;
  justify-content: center;
  font-family: 'Luckiest Guy', cursive;
}

#session-nav div.container{
  display: flex;
  flex-direction: row;
  width: 700px;
  align-items: center;
  color: white;
  // flex-direction: row;
  
  
  width: 1111px;
  // padding-left: 15px;
  transform: translate(16px, 0px);
  margin-left: auto;
  margin-right: auto;
}

#session-nav div.back{
  cursor: pointer;
  opacity: 0.6;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

#session-nav a{
  color: white;
}

#session-page{
  display: flex;
  justify-content: center;
  background-image: url(https://i.imgur.com/aBKrTWU.gif);
  height: 100vw;
  background-size: contain;
    background-repeat: no-repeat;}

#gradient{
  // background: linear-gradient(rgba(255, 255, 255, .2), transparent, black 52vh);
  background: linear-gradient(rgba(255, 255, 255, -0.2), transparent, #1d0000 47vh);
  width: 100%;
    display: flex;
    justify-content: center;

}

.session-form-container{
  width: 1111px;
  display: flex;
  flex-direction: column;
    // background: linear-gradient(rgba(255, 255, 255, 0.2), transparent, black, black 77vh);
    }

#session-page div.input{
  // width: 1111px;
  width: 100%;
  display: inline-flex;
  margin-top: 35px;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.3);
  height: 55px;
}

#session-page div.input-title{
  font-size: 20px;
  color: #707070;
  width: 50px;
  align-self: center;
  padding: 0.7em 0.3em;
  overflow: initial;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  // flex: 0 0 auto;
  /* text-align: center; */
  // justify-content: center;
}

// #session-page div.input-title span{
  //
// }

#session-page div.input-field{
  display: flex;
  flex: 1;
  background-color: #3b4045;
  padding: 0.3em;
  /* overflow: hidden; */
  /* position: relative; */
  
  width: 100%;
  // could be done a better way
  // width: 614px;
}

#session-page div.input-field input {
  width: 100%;
  padding: 0 10px;
  font-size: 20px;

  background-color: #fee8e8;
    
  
}

.title-container{
  background-color: #2D2F30;
  display: flex;
  justify-content: center;
}

div.bar{
  height: 28px;
  width: 0px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  transform: translate(1px, 13px);
}

.form-contents{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.slider{
  margin-right: 3px;
  font-size: 0.8em;
  vertical-align: text-bottom;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.slider input{
  display: none;
}

.slider-round{
  border-radius: 30px;
  background-color: #D7CEC7;
  top: 0;
  left: 0;
  bottom: 0;  
  right: 0;
  position: absolute;
}

// very cool
// if an input is checked the css below will
// modify what elements match the selector that
// comes after the +
.slider input:checked + .slider-round {
    background-color: #D9B310;
}

.slider-round:before{
  position: absolute;
  content: "";
  height: 16px;
  width: 13px;
  left: 3px;
  bottom: 2px;
  background-color: #1b1e26;
  // -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.slider input:checked + .slider-round:before{
  transform: translateX(calc(100% - 3px));
}

.remember{
  margin-top: 45px;
}


.fit-to-width{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.session-submit{
  background-color: #2D2F30;
  color: white;
  min-height: 2.9em;
  font-size: 20px;
}

hr{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  border-top-color: #707070;
}

.link-to-signup-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.link-to-signup-container a{
  text-decoration: none;
  // color: #328CC1;
  color: #e84242;
  cursor: pointer;
  transition: all 0.25s;
  font-size: 20px;
}

.link-to-signup-container span{
  font-size: 20px;
  margin-right: 5px;
}

.link-to-signup-container a:hover{
  color: #d9b310;
  font-size: 22px;
}