
//WORK DAMN YOU!

.splash-wrapper{
    z-index: 1;
}
.hero-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.hero-top{
    margin: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-left{
    padding: 20px;
    h1{
        font-size: 32px;
        font-family: 'Luckiest Guy', cursive;
    }
    p{
        font-size: 16px;
    }
}

.hero-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    #signup-btn{
        font-size: 12px;
        border: .5px solid rgb(181, 3, 3);
        background:rgb(181, 3, 3);
        color: white;
        border-radius: 3px;
        text-decoration: none;
        padding: 5px 10px;
        width: 100px;
        height: 25px;
        margin: 5px;
        text-align: center;
        line-height: 25px;
    }
    #browse-btn{
        font-size: 12px;
        border: .5px solid white;
        background:transparent;
        color: white;
        border-radius: 3px;
        text-decoration: none;
        padding: 5px 10px;
        width: 100px;
        height: 25px;
        margin: 5px;
        text-align: center;
        line-height: 25px;
    }
}

.splash-main{
    width: 100vw;
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 28px;
        font-family: 'Luckiest Guy', cursive;
    }
    p{
        font-size: 16px;
    }
}

.splash-primary{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    img{
        margin: 2%;
    }
    div{
        margin: 2%;
    }
}

.secondary-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.splash-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    img{
        margin: 2%;
    }
    div{
        margin: 2%;
    }
}
#join-btn{
        font-size: 16px;
        border: .5px solid rgb(181, 3, 3);
        background:rgb(181, 3, 3);
        color: white;
        border-radius: 3px;
        text-decoration: none;
        text-align: center;
        line-height: 25px;
        margin: 5%;
        padding: 1.5% 5%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
}

